
@{
    ViewBag.Title = "Edit";
    var emp = (MVC_DEMO_1.Models.Employee)ViewBag.emp;

}

<h2>Edit</h2>
<p>ID &ensp; : &ensp; @emp.ID </p>
<form action="/Employee/EditSave" method="get">
    <input type="text" name="name" value="@emp.Name" />
    <input type="hidden" name="id" value="@emp.ID" />

    <input type="submit" value="Update" />
</form>

