@model  MVC_DEMO_1.Models.Employee
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    ID &nbsp;: &nbsp; @Html.DisplayFor(e => e.ID)
</p>
<p>
    Name  &nbsp;: &nbsp;@Html.DisplayFor(e => e.Name)
</p>
<hr />

@Html.ActionLink("Back to Employees", "GetAll")
@*<p><a href="/Employee/GettAll">Back to Employees</a></p>*@