@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    A library is a place where many books are kept. 
    Most libraries are public and let people take the books to use in their home. 
    Most libraries let people borrow books for several weeks. Some belong to institutions, 
    for example, companies, churches, schools, and universities. The people who work in libraries are librarians. 
    Librarians are people who take care of the library.
</p>
